@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .button-wrapper .btn {
    margin-bottom:5px;
}

  main {
    min-height: 100vh;
    background: linear-gradient(to right top, #00d6da, #32eb5b);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: linear-gradient(to left, #);
    min-height: 90vh;
    width: 80%;
    background: linear-gradient(
      to right bottom,
      rgba(77, 192, 227, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 3rem;
    z-index: 2;
    backdrop-filter: blur(1rem);
  }
  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5)
    );
    height: 25rem;
    width: 25rem;
    position: absolute;
    border-radius: 50%;
  }
  .circle1 {
    bottom: 20%;
    right: 5%;
  }
  .circle2 {
    top: 5%;
    left: 5%;
  }
  .chatview {
    background: linear-gradient(to left, #);
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 3rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
  }
  
  .chatview {
    display: flex;
    align: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
   left: 20%;
   font-family: 'Montserrat';
    
    
    transform; translate(-50% , -50%);
  }
  form {
    display: flex;
    align: center;
    justify-content: center;
    position: absolute;
    bottom: 15%;
   left: 40%;
    z-index: 4;
    font-size: 18;
    font-family: 'Montserrat';
    transform; translate(-50% , -50%);
    border-radius: 3rem;
  }

.button1 {
    margin: 5rem;
    padding: 0rem;
    padding-top: 1rem;
    padding-left: 2rem;
border: lime;
    display: flex;
    position: absolute;
    top: 20%;
    border-radius: 2rem;
    width: 7rem;
    height: 3rem;
    font-size: 24;
    font-family: 'Montserrat';
    font-weight: bold;
  z-index: 2;

  backdrop-filter: blur(2rem);
background: linear-gradient(to left, #);

background: linear-gradient(
  to right bottom,
  rgba(128, 255, 0, 0.7),
  rgba(255, 255, 255, 0.3)
);
}
.button2 {
  margin: 5rem;
  padding: 0rem;
  padding-top: 1rem;
  padding-left: 2rem;
 border: red;
  display: flex;
    position: absolute;
    top: 40%;
  border-radius: 2rem;
  width: 7rem;
  height: 3rem;
  font-size: 24;
  font-family: 'Montserrat';
  font-weight: bold;
z-index: 2;

backdrop-filter: blur(2rem);
background: linear-gradient(to left, #);

background: linear-gradient(
to right bottom,
rgba(255, 0, 0, 0.7),
rgba(255, 255, 255, 0.3)
);
}

.send{
  margin: 0%;
  padding: 0rem;
  left: 20%;
border: rgb(21, 150, 255);
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  width: 7rem;
  height: 3rem;
  font-size: 24;
  font-family: 'Montserrat';
  font-weight: bold;
  color: white;
z-index: 2;
align-items: center;
backdrop-filter: blur(2rem);
background: linear-gradient(to left, #);

background: linear-gradient(
to right bottom,
rgba(77, 192, 227, 0.9767),
rgba(196, 196, 196, 1)
);
}

.msg-box{
  
  height: 3rem;
 width: 18rem;
border-bottom-left-radius: 3rem;
border-top-left-radius: 3rem;
left: 20%;
}

  .buddiey-text{
    display: flex;
    position: absolute;
    top: 10%;
   left: 10%;
  }
  .buddiey-text{
    margin: 0%;
    padding: 0rem;
    background: linear-gradient(to left, #);
    min-height: 7vh;
    width: 25%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 127, 80, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 1rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
  }

  .users-text{
    display: flex;
    position: absolute;
    top: 30%;
   right: 10%;
  }

  .users-text{
    background: linear-gradient(to left, #);
    min-height: 7vh;
    width: 25%;
    background: linear-gradient(
      to right bottom,
      rgba(21, 150, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 1rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
  }