<!DOCTYPE html> 
<html Lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title>Buddiey - Chat</title>
        <link rel="shortcut icon" href="../static/Buddiey.ico"/>
        <link rel="stylesheet" href="../static/chat.css"/>
        <script src="../static/jquery.js"></script>
    </head>
    <body>
        <div class="column">
      <main>
        <section class="glass">
          <div class="chatview">
            <div class="buddiey-text">Hi! I'm Buddiey!  What's your name?</div>
            <div class="users-text"></div>
          </div>
          <div class="container">
          <div class="column">
          <div>
            <button class="button1" onclick="window.location.href='/user/signout';">Log Out</button>
          </div>
          <div>
            <button class="button2" onclick="window.location.href='https://www.buddiey.live';">About</button>
            </div>
            </div>
          </div>
        </section>
      </main>
      <div class="circle1"></div>
      <div class="circle2"></div>
      <form name="chatbox">
        <div id="chatbox">
          <label for="Chat with Buddiey!"></label>
          <input id='msg-box' class="msg-box" placeholder="     Enter Text Here" type="text" id="Chat with Buddiey!" />
          <button class="send"> Send </button>
        </div>
      </form>
      <script type="text/javascript">
        function getBotResponse() {
          var rawText = $('.msg-box').val();
          var userHtml = '<div class="users-text"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('msg-box').value = "";
          document.getElementById('chatbox').scrollIntoView({block: 'start', behavior: 'smooth'});
        }
        $('form[name=chatbox').submit(function(e) {
          getBotResponse();
          e.preventDefault();
        });
      </script>
    </body>
</html>