<!DOCTYPE html> 
<html Lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title>Buddiey - Chat</title>
        <link rel="shortcut icon" href="../static/Buddiey.ico"/>
        <link rel="stylesheet" href="../static/chat.css"/>
        <script src="../static/jquery.js"></script>
    </head>
    <body>
        <div class="column">
      <main>
        <section class="glass">
          <div class="chatview">
            <div class="buddiey-text" id="buddiey-text">Hi! I'm Buddiey!</div>
            <div class="users-text" id="users-text"></div>
          </div>
          <div class="container">
          <div class="column">
          <div>
            <button class="button1" onclick="window.location.href='/user/signout';">Log Out</button>
          </div>
          <div>
            <button class="button2" onclick="window.location.href='https://www.buddiey.live';">About</button>
            </div>
            </div>
          </div>
        </section>
      </main>
      <div class="circle1"></div>
      <div class="circle2"></div>
      <form name="chatbox">
        <div id="chatbox">
          <label for="Chat with Buddiey!"></label>
          <input id='msg-box' class="msg-box" placeholder="     Enter Text Here" type="text" id="Chat with Buddiey!" />
          <button class="send"> Send </button>
        </div>
      </form>
      <script type="text/javascript">
        // Making sure that introductory text doesn't disappear
        $('.buddiey-text').value = "Hi! I'm Buddiey!"
        // Keeping count of the amount of times the user clicks the button
        var count=0;

        function getBotResponse() {
          // Creating a new div block with the user's text
          var rawText = $('.msg-box').val();
          var userHtml = '<div class="users-text"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          
          // Removing the existing div block
          $('.users-text').remove();

          // Finishing to create the new div block
          $("#chatbox").append(userHtml);

          // Final wrap ups
          document.getElementById('msg-box').value = "";
          document.getElementById('chatbox').scrollIntoView({block: 'start', behavior: 'smooth'});

          return rawText;
        }

        // Call the function when the user hits the send button on the chat view
        $('form[name=chatbox').submit(function(e) {
          // Incrementing count by 1 every time the user hits send          
          count += 1
          console.log(count)

          // Getting the user's input and formatting it for API calls
          const user_input = getBotResponse();
          var data = {
            "count": count,
            "msg": user_input,
          };

          // Sending the POST request to the local API, then extracting the response and showing it to the user
          $.ajax({
            url: '/user/chat/send',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function(resp) {
              const respString = JSON.stringify(resp);
              const respJSON = JSON.parse(respString);
              console.log(respJSON);
              const respMsg = respJSON.resp_msg;
              console.log(respMsg);

              var buddieyHtml = '<div class="buddiey-text"><span>' + respMsg + '</span></p>';

              $('.buddiey-text').remove();
              $('#chatbox').append(buddieyHtml);
            },
          });

          e.preventDefault();
        });
      </script>
    </body>
</html>