{% extends "auth-base.html" %}

{% block content %}
  <div class="card-wrapper">
    <div class="card">

        <h1 class="center">Buddiey Log In</h1>
  
        <form name="login_form">
  
          <label for="email">Email</label>
          <input type="email" name="email" class="field" required>
  
          <label for="password">Password</label>
          <input type="password" name="password" class="field" required>
  
          <p class="error error--hidden"></p>
  
          <input type="submit" value="Log In" class="btn">

          <label for="tip">Click <a href="/signup">here</a> to sign up.</label>
        
        </form>
        
      </div>  
  </div>
{% endblock %}