<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="C:/Users/rdhin/Documents/Buddiey/buddiey/static/auth.css"/>
    <link href="https://uploads-ssl.webflow.com/5ffe1ba07969272e9e6d7f02/5fff11d83fba0d2c6382e616_Buddiey%20(Custom).gif" rel="shortcut icon" type="image/x-icon"/>
    <title>Buddiey - Login</title>
</head>
<body>
    
</body>
</html>