{% extends "auth-base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <img src="/static/Buddiey.gif" alt="Buddiey" class="buddiey-logo">

      <h1 class="center">Create Account</h1>

      <form name="signup_form">

        <label for="name">First Name</label>
        <input type="text" name="first-name" class="field" required>

        <label for="name">Last Name</label>
        <input type="text", name="last-name" class="field" required>

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>
        
        <p class="error error--hidden"></p>

        <input type="submit" value="Sign Up" class="btn">

        <label for="tip">Click <a href="/signin">here</a> to login.</label>
      
      </form>
      
    </div>
  
  </div>
{% endblock %}